/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 *
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Imported under the 'uppmax' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'slurm'
  clusterOptions = '--partition ccr'
  
  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withName: get_software_versions{
    module = ['fastqc', 'trimgalore', 'STAR', 'hisat', 'cufflinks', 'perl', 'samtools', 'rseqc', 'preseq', 'picard', 'R', 'subread', 'stringtie', 'deeptools', 'python/3.7']
  }
  withName: fastqc {
    module = ['fastqc']
  }
  withName: trim_galore {
    module = ['fastqc', 'trimgalore']
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withName: makeSTARindex {
    module = ['STAR']
  }
  withName: star {
    module = ['STAR']
  }
  withName: "hisat2Align|makeHisatSplicesites|makeHISATindex" {
    module = ['hisat']
  }
  withName: convertGFFtoGTF {
    module = ['cufflinks']
  }
  withName: makeBED12 {
    module = ['perl']
  }
  withName: hisat2_sortOutput {
    module = ['samtools']
  }
  withName: rseqc {
   module = ['rseqc', 'samtools']
  }
  withName: bam_subsample {
    module = ['samtools']
  }
  withName: genebody_coverage {
   module = ['samtools', 'rseq']
  }
  withName: preseq {
    module = ['preseq']
  }
  withName: markDuplicates {
	  // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options
    module = ['picard', 'samtools']
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withName: dupradar {
    module = ['R']
  }
  withName: featureCounts {
    module = ['subread']
  }
  withName: stringtieFPKM {
    module = ['stringtie']
  }
  withName: sample_correlation {
    module = ['R']
  }
  withName: makeHISATindex {
    cpus = { check_max( 10, 'cpus' ) }
    memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h * task.attempt, 'time' ) }
  }
  withLabel: low_memory {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: mid_memory {
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: high_memory {
    cpus = { check_max (10, 'cpus')}
    memory = { check_max( 80.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withName: "multiqc|get_software_versions" {
    module = ['multiqc']
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
  withName: output_documentation {
    module = ['R']
  }
}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = '/fdb/igenomes/'
}

params.saveReference = true
params.saveTrimmed = true
params.saveAlignedIntermediates = true

