/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for UPPMAX (milou / irma)
 * -------------------------------------------------
 */

singularity {
  enabled = false
}

process {
  // Environment modules and resource requirements
  executor = 'slurm'
  clusterOptions = '--partition ccr'
  $fastqc.module = ['fastqc']
  $trim_galore.module = ['fastqc', 'trimgalore']
  $bwa.module = ['bwa', 'samtools']  
  $samtools.module = ['samtools', 'bedtools']
  $bwa_mapped.module = ['samtools']
  $picard.module = ['picard', 'samtools', 'bedtools']
  $phantompeakqualtools.module = [ 'R', 'samtools']
  $calculateNSCRSC.module = ['R']
  $deepTools.module = ['deeptools']
  $ngsplot.module = [ 'samtools', 'R', 'ngsplot']
  $macs.module = ['macs', 'samtools']  
  $saturation.module = [ 'macs', 'samtools']
  $saturation_r.module = [ 'R']
  $chippeakanno.module = [ 'R']
  $output_documentation.module = ['R']
  //python is confusing on biowulf, so skipping this as well
  //$get_software_versions.module = [ 'trimgalore', 'fastqc', 'bwa', 'samtools', 'bedtools', 'picard', 'deeptools', 'ngsplot', 'macs', 'multiqc', 'python/2.7.6']
  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$multiqc.module = []
  $multiqc.module = [ 'multiqc']
}

process {
  withName: fastqc {
    clusterOptions = '--partition ccr --cpus-per-task=1 --time=8:00:00'
  }
  withName: trim_galore {
    clusterOptions = '--partition ccr --cpus-per-task=1 --time=8:00:00'
  }
  withName: bwa {
    clusterOptions = '--partition ccr --cpus-per-task=8 --mem=64g --time=48:00:00'
  }
  withName: samtools {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: bwa_mapped{
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: picard {
    clusterOptions = '--partition ccr --cpus-per-task=6 --mem=16g --time=16:00:00'
  }
  withName: countstat {
    clusterOptions = '--partition ccr --time=8:00:00'
  }
  withName: phantompeakqualtools {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=64g --time=8:00:00'
  }
  witName: deepTools {
    clusterOptions = '--partition ccr --cpus-per-task=8 --mem=64g --time=8:00:00'
  }
  withName: ngsplot {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: macs {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: saturation {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: saturation_r {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=64g --time=8:00:00'
  }
  withName: chippeakanno {
    clusterOptions = '--partition ccr --cpus-per-task=4 --mem=32g --time=8:00:00'
  }
  withName: multiqc {
    clusterOptions = '--partition ccr --mem=2g'
  }
  withName: output_documentation {
    clusterOptions = '--partition ccr --mem=16g'
  }
}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = '/fdb/igenomes/'
  readPaths = false
}

params.saveReference = true
params.saveTrimmed = true
params.saveAlignedIntermediates = true
