/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 *
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Imported under the 'uppmax' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'slurm'
  clusterOptions = '--partition ccr'
  $makeSTARindex.module = ['STAR']
  $fastqc.module = ['fastqc']
  $trim_galore.module = ['fastqc', 'trimgalore']
  $star.module = ['STAR']
  $rseqc.module = ['rseqc', 'samtools/1.3']
  $preseq.module = ['preseq']
  $markDuplicates.module = ['picard/2.0.1']
  $dupradar.module = ['R/3.2.3']
  $featureCounts.module = ['subread']
  $sample_correlation.module = ['R/3.2.3']
  $multiqc.module = ['multiqc']
  withName: fastqc {
    clusterOptions = '--partition ccr --cpus-per-task=1 --time=8:00:00'
  }
  withName: trim_galore {
    clusterOptions = '--partition ccr --cpus-per-task=1 --time=8:00:00'
  }
}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = '/fdb/igenomes/'
}

params.saveReference = true
params.saveTrimmed = true
params.saveAlignedIntermediates = true

